// Place all the styles related to the Api/Attractions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.static {
    max-width: 1280px;
    width: 100%;
    height: 600px;
    margin-bottom: 40px;
}

.attractions-index-item li {
    margin-bottom: 10px;
}

.attractions-index-item li:first-child {
    font-weight: bold;
}

.attractions-index-item p {
    font-size: 14px;
    line-height: 18px;
}