.reviews-tab {
    width: 600px;
}

.reviews-tab > ul > li {
    background: white;
    background: transparent;
    border: 2px solid white;
    color: midnightblue;
    margin-bottom: 15px;
}

.reviews-tab > ul > li:last-child {
    display: flex;
    justify-content: space-between;
    background: transparent;
    border: none;
}

.review-item {
    padding: 15px;
}
.review-item ul li {
    margin: 10px 0;
    font-size: 16px;
}

.review-item h2 {
    font-size: 17px;
    font-weight: bold;
}

.review-item > div {
    font-size: 13px;
}

.review-item > div > span {
    font-weight: bold;
}

.review-item p {
    line-height: 24px;
    font-size: 16px;
}