.home-outer {
    margin-top: 110px;
}
.home-outer h1 {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin: 40px 0;
}

.map-button {
    width: 200px;
    height: 80px;
    background: url('map.jpg') no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}

.filters {
    width: 400px;
    background: white;
    margin-right: 15px;
    padding: 10px;
    height: 550px;
}

.filters > div{
    padding: 10px 0;
    border-bottom: 1px solid #b5b5b5;
}

.filters > div > span {
    font-weight: bold;
}

.filters ul > li {
    margin: 5px 0;
    margin-left: 20px;
}


.attractions-home {
    display: flex;
}

.attraction-listings > ul > li {
    background: white;
    margin-bottom: 15px;
    height: 200px;
}

.attraction-listings > ul > li:last-child {
    background: none;
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.attraction-listings {
    width: 100%;
}

.attractions-home .attractions-index-item img {
    width: 220px;
    height: 200px;
    object-fit: cover;
}

.attractions-home .attractions-index-item figure {
    margin-right: 15px;
}

.attractions-home .attractions-index-item {
    display: flex;
}

.attractions-home .attractions-index-item div {
    width: 100%;
    padding: 10px 0;
}