.city-splash {
    // background-size: 100% 100%;
    background-position: 50% 50%;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.city-splash > h1 {
    width: 100%;
    font-size: 48px;
    color: white;
    font-weight: bold;
    position: absolute;
    margin: 0 auto;
    text-align: center;
    top: 50%;
}

.city-splash .features-nav {
    position: absolute;
    top: 70%;
    left: 0;
    right: 0;
    margin: 0 auto;
}