.main-content {
    // margin-top: 60px;
    // background: rgba(94,193,190, .8);
    // min-height: 100vh;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 24px;
    box-sizing: border-box;
    overflow: auto;
}