.modal {
    font-family: 'Open Sans', Arial, sans-serif;
}
.modal-screen {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background: rgba(0, 0, 0, 0.4);
}

.modal-form {
    font-family: 'Open Sans';
    position: absolute;
    margin: auto;
    z-index: 2;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 340px;
    height:314px;
    padding: 48px;
    background-color: white;
    box-sizing: content-box;
}

.session-errors {
    display: flex;
    // align-items: center;
    justify-content: center;
    flex-direction: column;
    // justify-content: center;
    position: absolute;
    background: white;
    color: red;
    box-shadow: 0 2px 12px rgba(0,0,0,.35); 
    max-width: 280px;
    border: 1px solid #e0e0e0;
    box-sizing: border-box;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 18px;
    font-size: 14px;
    line-height: 16px;
}

.session-errors li {
    margin: 5px 0;
}
.email {
    bottom: 65%;
}

.password {
    bottom: 50%;
}


.session-inner img {
    height: 32px;
}

.session-inner > header {
    height: 32px;
    margin-bottom: 24px;
}

.session-header {
    height: 19px;
    margin-bottom: 16px;
    line-height: 19px;
    font-size: 18px;
    font-weight: bold;
    color: #000a12;
}

.session-form > label {
    font-size: 14px;
    font-weight: bold;
    line-height: 19px;
    color: #000a12;
}

.session-form > input {
    text-align: left;
    margin-bottom: 16px;
    font-size: 14px;
    height: 28px;
    width: 100%;
    padding: 4px;
    padding-left: 8px;
    border-radius: 3px;
    border: solid 1px #e5e5e5;
    box-sizing: border-box;
    line-height: 18px;
    vertical-align: center;
    // z-index: 2;
}

// .session-form > input:hover {
//     cursor: text;
// }



.session-form > button {
    background-color: #078171;
    border: 1px solid #078171;
    color: white;
    border-radius: 3px;
    margin-bottom: 16px;
    width: 100%;
    padding: 8px 16px;
    font-weight: bold;
    font-family: 'Open Sans', Arial, sans-serif;
}

.session-form > button:hover {
    background-color: #06695c;
    cursor: pointer;
}

.session-form > footer {
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 16px;
}

.session-link {
    color: #069;
    text-decoration: none;
    font-family: 'Open Sans';
}

.session-link:hover {
    text-decoration: underline;
}

.ui-close {
    z-index: 2;
    position: absolute;
    top: 0;
    right: 0;
    color: #4a4a4a;
    font-size: 32px;
    line-height: 48px;
    width: 48px;
    background-color: white;
    border: none;
}
.ui-close:hover {
    cursor: pointer;
    opacity: .6;
}

.errors-highlight {
    border: solid 1px red !important;
}

.triangle {
    // display: block;
    // width: 0;
    // height: 0;
    // border: solid;
    // border-width: 10px 10px 0 10px; 
    // border-color: #000000;
    // border-color: #ffffff;
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #ffffff;
    // border-top: 10px solid red;
    position: absolute;
    transform: translateY(9px);
    left: 0;
    right: 0;
    bottom: 0;
    margin-left: auto;
    margin-right: auto; 
}

.demo {
    background: none;
    border: none;
    padding: 0;
    text-decoration: none;
    color: #069;
    font-size: 12px;
    // font-family: "Open Sans";
}

.demo:hover {
    text-decoration: underline;
}
